html,
body {
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    font-family: Tahoma;
    display: flex;
}

.topnav a {
    display: flex;
    color: #18A0FB;
    text-align: center;
    padding: 14px 16px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: rgb(17, 130, 184);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

.map {
    position: relative;
    width: 100%;
    height: 1472px;

    background: #F5F5F5;
}

.affichage-notif {
    box-sizing: border-box;
    width: 95%;
    height: 500px;

    position: relative;
    left: 2.5%;
    right: 2.5%;
    top: 12%;
    bottom: 2.17%;

    background: #E5E5E5;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.vide {
    color: transparent;
}

.developper {
    position: relative;
    align-items: center;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.17%;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

html,
body {
    padding: 0;
    margin: 0;
}

.flex-container-admin {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    display: flex;
    order: 0;
    width: 100%;
    flex: 0 1 auto;
    margin-top: 1%;
    height: 100%;
    align-items: center;
    }

.flex-container-admin p{
    margin-top: 5%;
    font-size: xx-large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

}

.flex-container-notifs {
    display: flex;
    width: 95%;
    height: 500px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start ;
    align-content: space-around;
    align-items: center;
    overflow: auto;
}

.flex-sub-item {
    order: 0;
    margin-top: 0.5%;
    flex: 0 100 auto;
    width: 95%;
    text-align: center;
    
    border: 1px solid transparent;
    border-radius: 16px;
    background-image: linear-gradient(45deg,blue,rgb(0, 174, 255));
    
}

.flex-sub-item p {
    font-size: large;
    font-weight: 500;
    color: #ffff;
    text-decoration: none;
    margin-top: 1%;
}


/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
    .flex-container {
        width: 100%;
        -moz-box-sizing: border-box;
    }

}