nav{
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul{
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

nav ul{
    list-style-type: none;
}

nav > ul > li{
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

li a {
    text-decoration: none;
}

.menu-deroulant{
    content: ">";
    display: inline-block;
}

.sous_menu{
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}

.sous_menu > li > a{
    height: 50px;
    padding: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: rgb(21, 255, 0);
}

@keyframes rotationFleche{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu{
    0%{
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #2169EC;
    }
    30%{
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
    100%{
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.menu-deroulant:hover > .sous_menu{
    animation: apparitionSousMenu 1s forwards;
}